body {
    font-family: 'VT323', monospace;
    font-weight: 400 !important;
    font-size: 22px;
}

h1 {
    font-size: 56px;
}

.gameMap {
    height: 90vh;
    min-height: 600px;
}

.gameMap .row {
    height: 16.6%;
}
#index-form {
    position: relative;
}

#index-btn {
    position: absolute;
    top: -25px;
    left: 40%;
    width: 20%;
    font-size: 22px;
}

.persoImg {
    max-width: 200px;
    height: auto;
}

.btn-control {
    width: 80px;
}

.eggsImage {
    height: 60px;
    width: auto;
}